.window3 {

    display: none;
    opacity: 0;
    height: 100%;
    width: 100%;

    transition: all .4s;

    align-items: center;
    justify-content: center;

    .module {

        height: 60%;
        width: 95%;

        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        padding: 4rem 1rem;

        background: rgba($color: #000000, $alpha: .6);
        border: solid 2px $color-white1;
        border-radius: 10px;

        transition: all .5s;
        //backface-visibility: hidden;

        .app {

            &__title {
                width: 100%;
                @include subtitle;
                font-size: 3.2rem;
                text-align: center;
                padding-bottom: 2rem;
            }

            a {
                text-align: center;
            }
            &__logo {
                width: 8.4rem;
                height: auto;
                border-radius: 25px;
                margin-bottom: 3rem;
            }

            &__description {
                @include subtitle;
                text-align: center;
                margin-bottom: 3rem;

            }

            &-pros-cons {
                display: flex;
                justify-content: space-between;
                width: 102%;

                &-type {
                    @include subtitle;
                    text-align: center;
                    padding-bottom: .4rem;
                    font-size: 2.4rem;
                    
                }
                .green {
                    color: seagreen;
                }
                .red {
                    color: orangered;
                }
            }

            &-pros, &-cons {
                list-style: none;
                max-width: 50%;

                &__item {
                    @include subtitle;
                    padding: .2rem 0;
                }
            }

        }

    }

    #module-inactive {
        transform: translateX(120vw);
        position: absolute;
    }

    #module-dragged {
        display: none;
    }

}